<footer class="footer bg-info position-fixed fixed-bottom" style="z-index:-1;">

  <!-- Copyright - Start -->
  <div class="footer-bottom text-light bg-success p-3">
    <div class="row">
      <div class="col">
        © 2020 Copyright:
        <a class="text-white" href="{% url 'pages:home' %}">
          FreeSSL Security
        </a>
      </div>
      <div class="col text-center">
        <a href="#">
          <img src="https://freesvg.org/img/secured.png" alt="FreeSSL Security" width="30">
        </a>
      </div>
      <div class="col text-right">
        Designed & Developed by
        <a class="text-white" target="_blank" href="https://thenegativeentropy.com">
          <img src="" alt="theNegativeEntropy">
        </a>
      </div>
    </div>
  </div>
 <!-- Copyright -  End  -->
</footer>
